<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="js/vue.js"></script>
    <style type="text/css">
        .success{
            color: #1c7430;
        }
    </style>

</head>
<body>
<div id="app">
    <ul v-on:click="choice">
<!--        <li v-for="i in 5">{{i}}</li>-->
<!--        <li v-on:click="choice(index)" v-for="(value,index) in lists" v-bind:class="{success:index==current}">{{index+1}}-{{value}}</li>-->
        <li @click.stop="choice(index)" v-for="(value,index) in lists" :class="{success:index==current}">{{index+1}}-{{value}}</li>
<!--        <img v-for="" />-->
<!--        <div v-for=""></div>-->
    </ul>
</div>
<script>
    const vm = new Vue({
        el:'#app',
        data:{
            lists: ["王者荣耀","绝地求生","英雄联盟"],
            current: -1,
            // imgLists:["1.jpg","2.jpg"],
            // infoLists:["1的介绍","2的介绍"]
        },
        methods : {
            choice: function (index) {
                this.current = index;
            }
        }
    });
</script>
</body>
</html>